.header_comm {
  height: 4rem;
  background-color: red;
  display: flex;
  align-items: center;
}

.name_cont {
  background-color: green;
  display: flex;
  height: 100%;
  width: 12rem;
  align-items: center;
  justify-content: center;
}

.name_comm {
  background-color: blue;
  display: flex;
}