*{
    font-family: 'Roboto', sans-serif;
}

body{

    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.menuNav{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    
}

.menuNav li:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}



ul.menuNav li {
    display: flex;
    text-decoration: none;
    list-style-type:none;
    font-size: 14px;
    text-align: left;
    font-weight: 900;
    color: black;
    display: inline;
    border: solid 1px;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

div.infoSobreNosotros {
    text-align: center;
    background-color: whitesmoke;
}

th {
    font-weight: 900;
}

.tipoSitio{
    font-weight: 900;
}

.benSitio{
    font-weight: 900;
}
body{
    _background-image: url(../assets/fondo1.jpg);
    _filter:blur();
}

form {
    font-size: 16px;
    font-weight: 900;
}
tr{
    background-color: whitesmoke;
}

.presEquipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .presEquipo div{
    padding: 3px;
    display: block;
    margin: 100px;
    width: 250px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .presEquipo img{
    
}

.footContacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zocalo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footContacto>h4 {
    margin: 0.7rem;
    font-weight: 300;
}

.logoHeader{
    width: 100px;
    height: 100px;
}

.contenedorGrid {
    display: grid;
    grid-template-columns: auto 6.5 auto;
    grid-template-rows: 6.5rem 29rem auto;
    gap: 10px;
}

.contenedorGrid > *{
    _background-color: brown;
    _border: 1px solid black;
    text-align: center;
    }

    .headerNav {
        grid-column: 1 / 1;

    }
    .headerLogo {
        grid-column: 2 / 2;

    }
    .headerRRSS {
        grid-column: 3 / 3;

    }

    .footer {
        grid-column: 1 / 4;
    }

    footer {
        grid-column: 1 / 4;
        background: linear-gradient(to top, rgba(225, 0, 255, 0.582), rgba(183, 0, 255, 0.24));
    }
    
    .main{
        grid-column: 1 / 3;
    }
    .aside {
        border: 1px solid black;
        grid-column: 3 / 3;
    }

    @media all and (max-width: 480px){
        .contenedorGrid {
            grid-template-columns: auto auto auto;
            grid-template-rows: 6.5rem 1.8rem 13rem auto auto;
        }
        .headerNav {
            grid-column: 1 / 1;
    
        }
        .headerLogo {
            grid-column: 2 / 2;
    
        }
        .headerRRSS {
            grid-column: 1 / 3;
    
        }
    
        .footer {
            grid-column: 1 / 3;
        }
        
        .main{
            grid-column: 1 / 3;  
        }
        .aside {
            grid-column: 1 / span 2;
        }
        .menuNav{
            display: flex;
            flex-direction: column;
            justify-content:left;
            align-items: center;
        }
    
    }