*{
    font-family: 'Roboto', sans-serif;
}


body{
    height: 100vh;
    background-color: black;
    background-image: url(../assets/fondo2.jpg);
    background-size: cover;
}


.headerNav, .headerLogo, .headerRRSS{
    background-color: hsla(0, 0%, 0%, 0.699);
    color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.menuNav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    margin: 0px;
    padding-left: 10px;
}

.headerNav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: flex-end;
}

.menuNav li:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}



ul.menuNav li {
    display: flex;
    text-decoration: none;
    list-style-type:none;
    font-size: 14px;
    text-align: left;
    font-weight: 900;
    margin: 10px;
    padding: 5px;
}

div.infoSobreNosotros {
    text-align: center;
    background-color: #f0f0f0;
}

th {
    font-weight: 900;
}

.tipoSitio{
    font-weight: 900;
}

.benSitio{
    font-weight: 900;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
    font-size: 1em;
    font-weight: 900;
}

tr{
    background-color: #f0f0f0;
}

.presEquipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}

.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}

section .portfolio div{
    padding: 3px;
    display: block;
    margin: 100px;
    width: 250px;
    height: 300px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .presEquipo div{
    padding: 3px;
    display: block;
    margin: 100px;
    width: 250px;
    height: 300px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footContacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    position: relative;
}

.zocalo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footContacto>h4 {
    margin: 0.7rem;
    font-weight: 300;
}

.logoHeader{
    width: 100px;
    height: 100px;
}

.contenedorGrid {
    display: grid;
    grid-template-columns: auto 7rem auto;
    grid-template-rows: 6.5rem 29rem 2em;
    row-gap: 10px;
}

.main{
    color: #f0f0f0;
}

.nombreTit{
    text-align: left;
    font-size: 5em;
    margin-bottom: 0px;
    margin-left: 0.5em;
}

.apellTit{
    text-align: center;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3em;
}

.contenedorGrid > *{
    _background-color: brown;
    _border: 1px solid black;
    text-align: center;
    }

    .headerNav {
        grid-column: 1 / 1;

    }
    .headerLogo {
        grid-column: 2 / 2;

    }
    .headerRRSS {
        grid-column: 3 / 3;

    }

    .footer {
        grid-column: 1 / 4;
    }

    footer {
        grid-column: 1 / 4;
        color: #f0f0f0;
        background-color: hsla(0, 0%, 0%, 0.699);
    }
    
    .main{
        grid-column: 1 / 3;
    }
    .aside {
        grid-column: 3 / 3;
        display: flex;
        align-items: center;
        color: #f0f0f0;
        
    }

    @media all and (max-width: 480px){
        .contenedorGrid {
            grid-template-columns: auto auto auto;
            grid-template-rows: 6.5rem 1.8rem 13rem auto auto;
        }
        .headerNav {
            grid-column: 1 / 1;
    
        }
        .headerLogo {
            grid-column: 2 / 2;
    
        }
        .headerRRSS {
            grid-column: 1 / 3;
    
        }
    
        .footer {
            grid-column: 1 / 3;
        }
        
        .main{
            grid-column: 1 / 3;  
        }
        .aside {
            grid-column: 1 / span 2;
        }
        .menuNav{
            display: flex;
            flex-direction: column;
            justify-content:left;
            align-items: center;
        }
    
    }